.rodape {
    display: flex;
    justify-content: space-around;
    background-color: var(--preto);
    color: var(--branco);
    padding: 3em 0;
}

.redes-sociais__lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape__titulo {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.rodape__lista li {
    margin: 1em 0;
}

.rodape__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: var(--branco);
}

.rodape__logo {
    font-family: var(--fonte-logo);
    font-size: 28px;
    font-weight: 700;
    color: var(--cor-primaria);
}

.rodape__logo--italico {
    font-weight: 600;
    font-style: italic;
    color: var(--cor-secundaria);
}

@media screen and (max-width: 798px) {
    .rodape {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        padding: 3em;
    }

    .rodape__lista {
        padding: 1em 2em 0 0;
    }
    
    .rodape__titulo {
        padding-top: 1.5em;
    }

    .rodape__logo {
        padding-top: 1em;
    }
    .redes-sociais__lista {
        display: flex;
        justify-content:start;
    
    }

    .rodape__lista li {
        padding-left: 0.75em;
    }
}